name: Upload Custom Control Tower Config to S3
on:
  push:
    # paths:
    #   - 'configuration/**'
    # branches:
    #   - main

jobs:
  Upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Zip files
        run: |
          cd configuration/
          zip -r /tmp/custom-control-tower-configuration.zip .
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_MASTER_ACCOUNT_NUMBER }}:role/managed/CustomControlTowerConfigurationRole
          role-session-name: CustomCTSession
          aws-region: us-east-1
      - name: Upload configuration
        run: |
          aws s3 cp /tmp/custom-control-tower-configuration.zip s3://custom-ct-test-${{ secrets.AWS_MASTER_ACCOUNT_NUMBER }}-us-east-1/custom-control-tower-configuration.zip